@import '../../../../assets/style/colors';

.credentials {
    margin: 1rem;
    margin-left: 0;
    padding: 1rem 2rem;

    background-color: $color_cultured;
    border-radius: 15px;
    height: 30vh;

    &__header {
        margin-bottom: 1rem;
        border-bottom: 1px solid $color_black_coffee;

        &--text {
            padding: 0.25rem 0;

            font-size: 1.25rem;
            font-weight: 700;

            border-bottom: 1px solid $color_black_coffee;
        }
    }

    &__text {
        width: 95%;
        margin: 0.5rem;
        padding: 0;

        color: $color_black_coffee !important;

        display: flex;
        border-bottom: 1px solid $color_black_coffee !important;
        border-radius: 0;
    }

    &__img {
        margin: 1.5rem 0;
        padding: 0.4rem;

        width: 8rem;
        height: 8rem;

        object-fit: cover;

        border: 7px solid rgba($color_dark_salmon, 0.8);
        border-radius: 50%;
    }

    &__icon {
        position: absolute;
        bottom: 1.5rem;
        left: 0;

        padding: 0.5rem 0.75rem;
        background-color: $color_dark_salmon;
        border-radius: 50%;

        cursor: pointer;
    }

    &__label {
        margin: 0;
        & > div > label {
            font-size: 0.8rem;
            height: 0;
        }
    }
}
