$color_white: #ffffff;
$color_cultured: #f4f2f0;
$color_dark_salmon: #e9967a;
$color_black_coffee: #373234;

$color_background: -webkit-linear-gradient(
    315deg,
    rgba(233, 150, 122, 1) 0%,
    rgba(238, 130, 238, 1) 100%
);
