@font-face {
    src: url(./assets/fonts/Raleway-Regular.ttf);
    font-family: Raleway;
}

body {
    margin: 0;
    font-family: Raleway, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: Raleway, 'Courier New', monospace;
}
